<%= form_for @post do |f| %>
		
	<%= f.label :title %><br>
	<%= f.text_field :title %><br>

	<%= f.label :words %><br>
	<%= f.text_field :words %><br>

	<%= f.label :img_url %><br>
	<%= f.text_field :img_url %><br>

	<br>
		<label for="tags">Tags:<br/>
			<% @tags.each do |tag|%>
				<input  type="checkbox" name="tags[]" value="<%= tag.id %>" <% @post.tags.each do |tag2|%>
					<% if tag.name == tag2.name %>
						checked
					<% end %>
				<% end %>>
					<%= tag.name %>
				<br/>
			<% end %>
		</label>
	<br>

	<%= f.submit %>

<% end %>